.card {
  width: 100%;
  min-height: 50px;
  height: 9vh;
  border-radius: 6px;
  background-color: #e8e1d3;
  padding: 10px;
  @media (max-width: 768px) {
    padding: 4px;
  }

  font-weight: bold;
  text-wrap: pretty;
  text-transform: uppercase;
  overflow-wrap: anywhere;
  text-align: center;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  touch-action: none;
  cursor: grab;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card:hover {
  background-color: #ccc0ad;
}

.cardDisabled {
  pointer-events: none;
}

.hint {
  position: absolute;
  top: -0.3em;
  right: -0.3em;
  border-radius: 2em;
  width: 1.8em;
  height: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e1d3;
}
