.container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background-color: #ccc0ad;
  border-radius: 6px;
  padding: 4px;
}

.input {
  all: unset;
  display: inline-block;
  background-color: #e3d7c5;
  border: 2px solid #544e46;
}

.input:disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.inputIncorrect {
  border-color: #eb3434;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
}

.button {
  all: unset;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 2px;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 6px;
  background-color: #e8e1d3;
  border: 2px solid #544e46;

  width: 5em;
  height: 3em;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}
