.container {
  width: 13vw;
  min-width: 13vw;
  box-sizing: border-box;
  padding: 10px;
  @media (max-width: 768px) {
    width: 19vw;
    padding: 4px;
  }

  display: flex;
  flex-direction: column;
  gap: 4px;

  background-color: #fffaf0;
  border-radius: 6px;
}

.boundingBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (max-width: 768px) {
    gap: 4px;
  }
}

.labelText {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
}

.containerDisabled {
  opacity: 0.5;
}

.dragOverlay {
  cursor: grabbing;
}
