.container {
  width: 13vw;
  padding: 10px;
  @media (max-width: 768px) {
    width: 19vw;
    padding: 4px;
  }

  border-radius: 6px;
  background-color: #fffaf0;
}

.boundingBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (max-width: 768px) {
    gap: 4px;
  }
}
